*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  height: 100%;
}

#todo-list__div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 70%;
  background-color: #f4f4f4;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.todo-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-date__p {
  margin: 0;
  font-size: 3rem;
  padding: 0.4rem;
  margin-left: 1rem;
}

.loading-icon {
  width: 16px;
  height: 16px;
  background-image: url("../assets/icons/rows.svg");
  background-size: cover;
  margin-right: 22px;
}

.todo-div__placeholder {
  position: relative;
}

#new-task {
  width: 80%;
  padding: 10px;
  margin: 10px 8px;
  border: none;
  font-size: 1.7rem;
  font-style: italic;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background-image: url("../assets/icons/rows2.svg");
  background-size: cover;
  margin-right: 22px;
}

.todos-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todos-ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
  padding: 23px 30px;
}

input[type="checkbox"] {
  margin-right: 18px;
}

.task-text {
  max-width: 55%;
  word-wrap: break-word;
}

.todo-date,
.todo-div__placeholder,
.todo-list,
.btn {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
  color: black;
}

.btn {
  background-color: gray;
  border-bottom: none;
  margin-top: -6px;
}

.btn-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: gray;
  color: #fff;
}

#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-dots-icon {
  position: absolute;
  right: 35px;
  width: 18px;
  height: 28px;
  background-image: url("../assets/icons/elipsis.svg");
  background-size: cover;
  cursor: move;
}

.erase-icon {
  position: absolute;
  right: 2.8em;
  font-size: 1.2em;
  cursor: pointer;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #f4f4f4;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

#footer div {
  text-align: center;
}

#footer p {
  font-size: 1.4rem;
  line-height: 1.5;
}

#footer a {
  color: #00b7ff;
  text-decoration: none;
}

/* Night mode styles */
.night-mode body {
  background-color: #000;
}

.night-mode .todo-date__p {
  margin: 0;
  font-size: 3.5rem;
  padding: 10px;
  color: white;
}

.night-mode a {
  color: #00b7ff;
}

.night-mode button {
  background-color: #000;
  color: #f1f1f1;
}

.night-mode .todo-date,
.night-mode .todo-div__placeholder,
.night-mode .todo-list,
.night-mode .btn {
  background-color: #333;
  border-bottom: 1px solid lightgray;
}

.night-mode .todo-list {
  color: #fff;
}

.night-mode #todo-list__div {
  background-color: #333;
  padding: 0;
  box-shadow: 100px -100px 26px rgba(255, 255, 255, 0.1);
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.night-mode .task-item {
  background-color: gray;
  color: #000;
}

.night-mode #footer {
  background-color: #333;
  color: #fff;
}

/* Cool Button Styles */
.cool-button {
  background-color: #4c8bf5;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  margin-top: 1.2rem;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.cool-button:hover {
  background-color: #3d75d8;
}

.cool-button:active {
  background-color: #3063ab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  transform: translateY(2px);
}

.cool-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
  border-radius: 4px;
  pointer-events: none;
}

.cool-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 201, 201, 0.1);
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.3s, transform 0.3s;
}

.cool-button:hover::after {
  opacity: 1;
  transform: scale(1);
}

#toggle-theme {
  margin-bottom: 20px;
}

.night-mode .cool-button {
  background-color: #6c737e;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
